.title {
  text-align: center;
}

.error-message {
  background: #ff9b9b;
  color: white;
  border-radius: 5px;
  padding: 10px;
}

.woof-form,
.loading {
  width: 50%;
  margin: 0 auto;
}

.loading {
  text-align: center;
}

.woofs {
  width: 80%;
  margin: 30px auto;
}

.woofs > div {
  background: hsl(0, 0%, 95%);
  padding: 12px;
  border-radius: 4px;
}

.woofs > div > h3 {
  word-wrap: break-word;
}

.woofs > div > p {
  word-wrap: break-word;
}

.woofs > div:not(:last-child) {
  margin-bottom: 8px;
}

.woofs > div:last-child {
  margin-bottom: 100px;
}




.funny {
    display: block;
    animation-name: funny-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: bezier-curve(0.1, 0.1, 0.2, 0.3);
}

@keyframes funny-anim {
    0% {
        transform: scale(1.0) rotate(0deg) skew(0deg);
        color: #c81704;
    }
    25% {
        transform: scale(0.94) rotate(1deg) skew(1deg);
    }
    50% {
        transform: scale(0.98) rotate(0.5deg) skew(0.5deg);
    }
    100% {
        transform: scale(1.0) rotate(0deg) skew(0deg);
    }
}